<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alterar Senha</title>
    <link rel="stylesheet" href="alterar-senha.component.css"> <!-- Certifique-se de que o estilo fornecido está neste arquivo -->
  </head>
  <body>
    <div class="main">
      <div class="container">
        <div class="banner">
          <h1>Alterar Senha</h1>
          <h1>Mantenha sua conta segura</h1>
        </div>
        <form>
          <div class="plan-container">
            <label for="old-password">Senha Antiga</label>
            <input type="password" id="old-password" placeholder="Digite sua senha antiga" required>
          </div>
          <div class="plan-container">
            <label for="current-password">Senha Atual</label>
            <input type="password" id="current-password" placeholder="Digite sua senha atual" required>
          </div>
          <div class="plan-container">
            <label for="new-password">Nova Senha</label>
            <input type="password" id="new-password" placeholder="Digite sua nova senha" required>
          </div>
          <div class="button-group">
            <button type="submit">Salvar</button>
            <a href="javascript:history.back()" class="btn-acessar-menu">Voltar</a>
          </div>
        </form>
      </div>
    </div>
  </body>