<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8" />
    <title>Bagview</title>
    <!-- Base URL para o aplicativo -->
    <base href="/" />
    <!-- Configurações de viewport para responsividade -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Ícone do aplicativo -->
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
  </head>
  <body>
    <!-- Componente de roteamento do Angular -->
    <router-outlet></router-outlet>
  </body>
</html>
