<!-- Container principal para o formulário de login -->
<div class="login-container">
  <mat-card>
    <!-- Título do cartão de login com ícone -->
    <mat-card-title>
      <mat-icon>lock</mat-icon>
      Login
    </mat-card-title>

    <!-- Conteúdo do cartão contendo o formulário -->
    <mat-card-content>
      <!-- Formulário de login com envio ao método onSubmit -->
      <form (ngSubmit)="onSubmit()">
        <!-- Campo de entrada para o email -->
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input
            matInput
            placeholder="Digite seu email"
            type="email"
            required
            [(ngModel)]="email"
            name="email"
          />
        </mat-form-field>

        <!-- Campo de entrada para a senha -->
        <mat-form-field appearance="fill">
          <mat-label>Senha</mat-label>
          <input
            matInput
            placeholder="Digite sua senha"
            type="password"
            required
            [(ngModel)]="senha"
            name="senha"
          />
        </mat-form-field>

        <!-- Botão para enviar o formulário -->
        <button mat-raised-button color="primary" type="submit">Login</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
