<p>login works!</p>
<div class="login-container">
  <mat-card>
    <mat-card-title>Login</mat-card-title>
    <mat-card-content>
      <form (ngSubmit)="onSubmit()">
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input
            matInput
            placeholder="Digite seu email"
            type="email"
            required
            [(ngModel)]="email"
            name="email"
          />
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Senha</mat-label>
          <input
            matInput
            placeholder="Digite sua senha"
            type="password"
            required
            [(ngModel)]="senha"
            name="senha"
          />
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit">Login</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
