<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Criar Conta</title>
    <link rel="stylesheet" href="./cadastro.component.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <nav class="navbar">
        <!-- Logo e navegação -->
        <h2 class="logo">
          <img
            src="assets/img/BagView.png"
            alt="logo"
            routerLink="/homepage"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
          />
        </h2>
        <input type="checkbox" id="menu-toggle" />
        <label for="menu-toggle" id="hamburger-btn">
          <!-- Ícone do menu -->
          <svg
            xmlns="http://www.w3.org/2000/svg"
            height="24"
            viewBox="0 0 24 24"
            width="24"
          >
            <path
              d="M3 12h18M3 6h18M3 18h18"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
            />
          </svg>
        </label>
        <div class="buttons">
          <a
            routerLink="/login"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            class="btn-login"
            >Login</a
          >
        </div>
      </nav>
    </header>
    <div class="form-container">
      <h3>Cadastre-se na BagView</h3>
      <div class="form-plan">
        <!-- Seleção de plano -->
        <mat-radio-group
          aria-label="Selecione uma opção"
          id="plano"
          name="plano"
          [(ngModel)]="usuario.idPlan"
          (change)="onPlanoChange($event)"
          required
        >
          <div class="plan-container">
            <mat-radio-button value="6716a54052a0be5933feebc4"
              ><strong>Plano Mensal</strong> <br /><span
                >R$85,90/mês</span
              ></mat-radio-button
            >
          </div>

          <div class="plan-container">
            <mat-radio-button value="6716a54052a0be5933feebc5"
              ><strong>Diária</strong> <br /><span
                >R$1,90/dia</span
              ></mat-radio-button
            >
          </div>
        </mat-radio-group>
      </div>

      <p style="text-align: left">
        Se você já possui uma conta com a gente, não precisa criar uma conta
        nova. <a routerLink="/login">Entre</a> com seus dados habituais.
      </p>
      <h6>Dados pessoais</h6>
      <p style="text-align: left">
        Insira seus dados
        <strong>exatamente como aparecem em seu CPF e RG.</strong>
        Eles serão usados quando você alugar suas TAGs.
      </p>
      <form (ngSubmit)="onSubmit()" #cadastroForm="ngForm">
        <!-- Campo para CPF -->
        <div class="form-field">
          <mat-form-field appearance="outline">
            <mat-label>Número de CPF</mat-label>
            <input
              matInput
              placeholder="Insira o número de CPF"
              type="text"
              id="cpf"
              name="cpf"
              [(ngModel)]="usuario.cpf"
              pattern="[0-9]*"
              inputmode="numeric"
              maxlength="14"
            />
            <mat-hint>Exemplo 111.222.333-45</mat-hint>
          </mat-form-field>
        </div>

        <!-- Campo para Nome -->
        <div class="form-field">
          <mat-form-field appearance="outline">
            <mat-label>Nome</mat-label>
            <input
              matInput
              placeholder="Insira o nome completo"
              type="text"
              id="name"
              name="name"
              [(ngModel)]="usuario.fullName"
            />
            <mat-hint>Como aparecem no seu RG</mat-hint>
          </mat-form-field>
        </div>

        <h6>Dados de login para sua conta</h6>
        <p style="text-align: left">
          <strong>Dê preferência ao seu email pessoal</strong> para garantir que
          vai receber nossas comunicações.
        </p>

        <!-- Campo para Email -->
        <div class="form-field">
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input
              matInput
              placeholder="Digite seu email"
              type="text"
              id="email"
              name="email"
              [(ngModel)]="usuario.email"
            />
          </mat-form-field>
        </div>

        <!-- Campo para Senha -->
        <div class="form-field">
          <mat-form-field appearance="outline">
            <mat-label>Senha</mat-label>
            <input
              matInput
              [type]="hide ? 'password' : 'text'"
              id="password"
              name="password"
              [(ngModel)]="usuario.password"
            />
            <button
              mat-icon-button
              matSuffix
              (click)="clickEvent($event); $event.preventDefault()"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide"
            >
              <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
            </button>
          </mat-form-field>
        </div>

        <!-- Campo para Confirmar Senha -->
        <div class="form-field">
          <mat-form-field appearance="outline">
            <mat-label>Confirmar senha</mat-label>
            <input
              matInput
              [type]="hide ? 'password' : 'text'"
              id="passwordConfirmation"
              name="passwordConfirmation"
              [(ngModel)]="confirmaSenha"
            />
            <button
              mat-icon-button
              matSuffix
              (click)="clickEvent($event); $event.preventDefault()"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide"
            >
              <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
            </button>
          </mat-form-field>
        </div>

        <!-- Botão de envio -->
        <div class="form-field">
          <button type="submit" [disabled]="!cadastroForm.valid">
            Finalizar
          </button>
        </div>

        <!-- Mensagem de erro -->
        <p class="error-message" *ngIf="errorMessage">{{ errorMessage }}</p>
      </form>
    </div>
  </body>
</html>
