<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Criar Conta</title>
    <link rel="stylesheet" href="./cadastro.component.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <nav class="navbar">
        <h2 class="logo">
          <a
            routerLink="/homepage"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >BagView</a
          >
        </h2>
        <input type="checkbox" id="menu-toggle" />
        <label for="menu-toggle" id="hamburger-btn">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            height="24"
            viewBox="0 0 24 24"
            width="24"
          >
            <path
              d="M3 12h18M3 6h18M3 18h18"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
            />
          </svg>
        </label>
        <div class="buttons">
          <a
            routerLink="/login"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            class="btn-login"
            >Login</a
          >
        </div>
      </nav>
    </header>
    <div class="form-container">
      <br />
      <br />
      <h4>Criar conta</h4>
      <p style="text-align: left">
        Se você já possui uma conta com a gente, não precisa criar uma conta
        nova. <a routerLink="/login">Entre</a> com seus dados habituais.
      </p>
      <h6>Dados pessoais</h6>
      <p style="text-align: left">
        Insira seus dados
        <strong>exatamente como aparecem em seu CPF e RG.</strong>
        Eles serão usados quando você alugar suas TAGs.
      </p>
      <form (ngSubmit)="onSubmit()" #cadastroForm="ngForm">
        <div class="form-field">
          <mat-form-field appearance="outline">
            <mat-label>Número de CPF</mat-label>
            <input
              matInput
              placeholder="Insira o número de CPF"
              type="text"
              id="cpf"
              name="cpf"
              [(ngModel)]="usuario.cpf"
            />
            <mat-hint>Exemplo 111.222.333-45</mat-hint>
          </mat-form-field>
        </div>

        <div class="form-field">
          <mat-form-field appearance="outline">
            <mat-label>Nome</mat-label>
            <input
              matInput
              placeholder="Insira o nome completo"
              type="text"
              id="name"
              name="name"
              [(ngModel)]="usuario.fullName"
            />
            <mat-hint>Como aparecem no seu RG</mat-hint>
          </mat-form-field>
        </div>

        <h6>Dados de login para sua conta</h6>
        <p style="text-align: left">
          <strong>Dê preferência ao seu email pessoal</strong> para garantir que
          vai receber nossas comunicações.
        </p>

        <div class="form-field">
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input
              matInput
              placeholder="Digite seu email"
              type="text"
              id="email"
              name="email"
              [(ngModel)]="usuario.email"
            />
          </mat-form-field>
        </div>

        <div class="form-field">
          <mat-form-field appearance="outline">
            <mat-label>Senha</mat-label>
            <input
              matInput
              [type]="hide ? 'password' : 'text'"
              type="password"
              id="password"
              name="password"
              [(ngModel)]="usuario.password"
            />
            <button
              mat-icon-button
              matSuffix
              (click)="clickEvent($event); $event.preventDefault()"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide"
            >
              <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
            </button>
          </mat-form-field>
        </div>

        <div class="form-field">
          <mat-form-field appearance="outline">
            <mat-label>Confirmar senha</mat-label>
            <input
              matInput
              [type]="hide ? 'password' : 'text'"
              type="password"
              id="passwordConfirmation"
              name="passwordConfirmation"
              [(ngModel)]="confirmaSenha"
            />
            <button
              mat-icon-button
              matSuffix
              (click)="clickEvent($event); $event.preventDefault()"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide"
            >
              <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
            </button>
          </mat-form-field>
          <label for="plano">Selecione o Plano *</label>
        <select 
          id="plano" 
          name="plano"
          [(ngModel)]="usuario.idPlan"
          (change)="onPlanoChange($event)"
          required>
          <option value="">Selecione um plano</option>
          <option value="6716a54052a0be5933feebc4">Plano Mensal (R$85,90/mês)</option>
          <option value="6716a54052a0be5933feebc5">Plano Temporário</option>
        </select>
        </div>

        <button type="submit" [disabled]="!cadastroForm.valid">
          Cadastrar
        </button>
        <p class="error-message" *ngIf="errorMessage">{{ errorMessage }}</p>
      </form>
    </div>
  </body>
</html>
