<main class="main">
    <div class="container">
      <div class="banner">
        <button [routerLink]="['/menu']" class="btn-acessar-menu">VOLTAR P MENU</button>
        <h1>BagView</h1>
        <h1>Alterar dados pessoais</h1>
      </div>
      <div class="card-details" *ngIf="userData">
        <p>Nome Completo</p>
        <input type="text" [(ngModel)]="userData.fullName"/>
        <p>Email</p>
        <input type="text" [(ngModel)]="userData.email"/>
        <p>CPF (não alterável)</p>
        <p>{{ userData.cpf }}</p>
        <p> Senha </p>
        <!-- Alterar front para deixar asterisco sei la -->
        <input type="text" [(ngModel)]="userData.password"/>
      </div>
      <button mat-raised-button color="primary" (click)="onSubmit()">Alterar</button>
      <p class="error-message" *ngIf="errorMessage">{{ errorMessage }}</p>
    </div>
</main>
    
    
    