<main class="main">
    <div class="container">
      <div class="banner">
        <h1>BagView</h1>
        <p>MENU DO USUÁRIO</p>
      </div>

      <div class="opcoes">
        <!-- <h2>Ir para configurações</h2> -->
        <button [routerLink]="['/configuracoes']" class="btn-acessar-configuracoes">Acessar Configurações</button>

        <!-- <h2>Minhas Tags</h2> -->
        <button [routerLink]="['/']" class="btn-acessar-tags">Minhas Tags</button>
        <!-- REDIRECIONA PARA A PAGINA DE MINHAS TAGS (AINDA NAO EXISTE) -->

        <!-- <h2>ALUGAR TAG</h2> -->
        <button [routerLink]="['/alugar']" class="btn-acessar-alugar">Alugar Tag</button>
        <!-- REDIRECIONA PARA A PAGINA DE ALUGUEL DE TAGS-->

        <!-- <h2>ATIVAR TAG</h2> -->
        <button [routerLink]="['/']" class="btn-acessar-ativar">Ativar Tag</button>
        <!-- REDIRECIONA PARA A PAGINA DE ATIVAR TAGS (AINDA NAO EXISTE) -->
      </div>
    </div>
  </main>
    
    
    