/* Estilo para o main */
.main {
  background-color: #ffffff;
  padding: 20px;
  text-align: center;
}

/* Estilo para o banner */
.banner {
  background-color: #f8f9fa;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 20px;
}

/* Estilo para o contêiner de botões */
.opcoes {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 colunas */
  gap: 20px; /* Espaçamento entre os botões */
  margin: 20px 0;
}

/* Estilo para os botões */
/* .btn-acessar-configuracoes,
.btn-acessar-tags,
.btn-acessar-alugar,
.btn-acessar-ativar {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 15px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-acessar-configuracoes:hover,
.btn-acessar-tags:hover,
.btn-acessar-alugar:hover,
.btn-acessar-ativar:hover {
  background-color: #0056b3;
} */

#map {
  height: 400px;
  width: 100%;
  margin: 20px 0;
  border-radius: 8px;
}

.container {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.custom-map-control-button {
  background-color: #fff;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
  margin: 10px;
  padding: 0 0.5em;
  font: 400 18px Roboto, Arial, sans-serif;
  overflow: hidden;
  height: 40px;
  cursor: pointer;
}

.custom-map-control-button:hover {
  background: rgb(235, 235, 235);
}