<div class="alugar-tag-container">
  <mat-card>
    <mat-card-title>Alugar Tag</mat-card-title>
    <mat-card-content>
      <form (ngSubmit)="onSubmit()">
        <p> Selecione o número do voo </p>
        <mat-form-field appearance="fill">
          <mat-label>Número do Voo</mat-label>
          <input 
            matInput
            [(ngModel)]="numVoo"
            [matAutocomplete]="auto"
            [formControl]="numVooControl"
            name="numVoo"
            required
          />
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let voo of filteredVoos" [value]="voo.numVoo">
              {{ voo.numVoo }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field> 
               

        <p>Quantas tags você deseja alugar?</p>
        <mat-form-field appearance="fill">
          <mat-label>Quantidade de Tags</mat-label>
          <input
            matInput
            type="number"
            min="1"
            max="10"
            placeholder="Digite a quantidade de tags"
            required
            [(ngModel)]="quantidadeTags"
            name="quantidadeTags"
          />
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit">Prosseguir</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>

<!-- Modal de Caução -->
<div *ngIf="showModalCaucao" class="modal-overlay">
  <div class="modal">
    <h2>Atenção!</h2>
    <p><strong>Ao confirmar o aluguel, será cobrada uma caução de R$50,00 por tag, totalizando R${{ quantidadeTags * 50 }}.<br><br> Esse valor será reembolsado assim que você chegar ao aeroporto de destino e finalizar o aluguel da tag.</strong></p>
    <p><br>Lembre-se: o aluguel da tag não pode ultrapassar a duração do voo. Caso a locação não seja finalizada, o valor da caução não será reembolsado.</p>
    <div class="modal-actions">
      <button mat-button color="primary" (click)="confirmarAluguel()">Confirmar</button>
      <button mat-button color="warn" (click)="cancelarModal()">Cancelar</button>
    </div>
  </div>
</div>

<!-- Valor de compra para usuário temporário -->
<div *ngIf="showModalAluguelTemp" class="modal-overlay">
  <div class="modal">
    <h2>Atenção!</h2>
    <p><strong>O valor do aluguel para o plano temporário é de R$ 40,00. Além disso, será cobrada uma caução de R$ 50,00 por tag, totalizando R$ {{ quantidadeTags * 50 }}.</strong></p>
    <p><br>A caução será reembolsada automaticamente assim que você finalizar o aluguel da tag no aeroporto de destino.</p>
    <p><br>Lembre-se: o aluguel da tag não pode ultrapassar a duração do voo. Caso a locação não seja finalizada, o valor da caução não será reembolsado.</p>
    <div class="modal-actions">
      <button mat-button color="primary" (click)="confirmarAluguel()">Confirmar</button>
      <button mat-button color="warn" (click)="cancelarModal()">Cancelar</button>
    </div>
  </div>
</div>

<!-- Modal de Finalização -->
<div *ngIf="showModalFinalizacao" class="modal-overlay">
  <div class="modal">
    <h2>Aluguel Finalizado!</h2>
    <p>Você já pode retirar as tags no aeroporto!</p>
    <p>IMPORTANTE: Após retirar a tag, ative-a no menu "Histórico de Compras".</p>
    <div class="modal-actions">
      <button mat-button (click)="confirmarFinalizacao()">Fechar</button>
    </div>
  </div>
</div>

<!-- Modal de Cartão não cadastrado -->
<div *ngIf="showModalCartao" class="modal-overlay">
  <div class="modal">
    <h2>Você ainda não possui um cartão cadastrado!</h2>
    <p>Deseja cadastrar um cartão para seguir com o aluguel?</p>
    <div class="modal-actions">
      <button mat-button color="primary" (click)="confirmarCartao()">Cadastrar cartão</button>
      <button mat-button color="warn" (click)="cancelarCartao()">Cancelar</button>
    </div>
  </div>
</div>