<div class="alugar-tag-container">
  <mat-card>
    <mat-card-title>Alugar Tag</mat-card-title>
    <mat-card-content>
      <form (ngSubmit)="onSubmit()">
        <p> Selecione o número do voo </p>
        <mat-form-field appearance="fill">
          <mat-label>Número do Voo</mat-label>
          <input 
            matInput
            [(ngModel)]="numVoo"
            [matAutocomplete]="auto"
            [formControl]="numVooControl"
            name="numVoo"
            required
          />
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let voo of filteredVoos" [value]="voo.numVoo">
              {{ voo.numVoo }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field> 
               

        <p>Quantas tags você deseja alugar?</p>
        <mat-form-field appearance="fill">
          <mat-label>Quantidade de Tags</mat-label>
          <input
            matInput
            type="number"
            min="1"
            max="10"
            placeholder="Digite a quantidade de tags"
            required
            [(ngModel)]="quantidadeTags"
            name="quantidadeTags"
          />
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit">Prosseguir</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>


<!-- Modal de Finalização -->
<div *ngIf="showModalFinalizacao" class="modal-overlay">
  <div class="modal">
    <h2>Aluguel Finalizado!</h2>
    <p>Você já pode retirar as tags no aeroporto!</p>
    <p>IMPORTANTE: Após retirar a tag, ative-a no menu "Histórico de Compras".</p>
    <div class="modal-actions">
      <button mat-button color="primary" (click)="confirmarFinalizacao()">Confirmar</button>
      <button mat-button color="warn" (click)="cancelarFinalizacao()">Cancelar</button>
    </div>
  </div>
</div>