/* Estilo base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f0f4f8;
}

.container {
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  max-width: 600px;
  width: 90%;
  animation: fadeIn 1s ease-in-out;
}

.banner {
  text-align: center;
  margin-bottom: 1.5rem;
  color: #34495e;
}

.banner h1:first-of-type {
  font-size: 2rem;
  font-weight: bold;
  color: #2c3e50;
}

.banner h1:last-of-type {
  font-size: 1.5rem;
  font-weight: 400;
  color: #2ecc71;
  margin-top: 0.5rem;
}

h1 {
  font-size: 1.3rem;
  margin-bottom: 1rem;
  color: #2c3e50;
}

p {
  font-size: 1rem;
  color: #34495e;
  font-weight: 500;
}

p::before {
  content: "• ";
  color: #2ecc71;
  font-size: 1.2rem;
  font-weight: bold;
}

.table {
  width: 100%;
  border-spacing: 0;
  margin-top: 1rem;
}

.table td {
  padding: 0.5rem;
  color: #34495e;
  font-weight: 400;
}

.table td:first-child {
  font-weight: bold;
  color: #2ecc71;
}

/* Estilo para os dados do cartão */
.card-container {
  background-color: #f9f9f9;
  padding: 1rem;
  border: 1px solid #2ecc71;
  border-radius: 8px;
  margin-top: 1.5rem;
}

.card-container h2 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  color: #2ecc71;
  font-weight: bold;
  border-bottom: 1px solid #2ecc71;
  padding-bottom: 0.5rem;
}

.card-details p {
  font-size: 0.9rem;
  margin: 0.3rem 0;
  color: #34495e;
  font-weight: 500;
}

/* Estilo do botão */
button {
  background-color: #2ecc71; /* Cor verde */
  color: white; /* Texto branco */
  border: none; /* Remover borda */
  padding: 5px 10px; /* Tamanho do botão */
  font-size: 16px; /* Tamanho da fonte */
  font-weight: bold; /* Negrito no texto */
  border-radius: 5px; /* Bordas arredondadas */
  cursor: pointer; /* Mãozinha ao passar o mouse */
  transition: all 0.3s ease-in-out; /* Transições suaves para cor e efeito de hover */
  display: inline-block;
  text-align: center;
  text-decoration: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra suave */
  margin-bottom: 10px;
}

button:hover {
  background-color: #27ae60; /* Cor mais escura no hover */
  transform: translateY(-2px); /* Leve movimento para cima */
}

button:active {
  background-color: #219150; /* Cor ainda mais escura quando pressionado */
  transform: translateY(2px); /* Leve movimento para baixo */
}

button:focus {
  outline: none; /* Remove o outline padrão */
  box-shadow: 0 0 0 3px rgba(46, 204, 113, 0.5); /* Sombra suave ao focar */
}

/* Animações */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
