<main class="main">
    <div class="container">
      <div class="banner">
        <h1>BagView</h1>
        <h1>CONFIGURAÇÕES DO USUÁRIO</h1>
      </div>

      <div *ngIf="userData">
        <h1>Dados do usuário</h1>
        <button [routerLink]="['/dados']" class="btn-acessar-edicaoUser">✏️ Alterar dados pessoais</button>
        <p>Nome: {{ userData.fullName }}</p>
        <p>Email: {{ userData.email }}</p>
        <p>CPF: {{ userData.cpf }}</p>
        <p>Plano Escolhido: {{ planoName }}</p>
        
        
        <h1>Dados do Cartão</h1>
        <div *ngIf="userData.card && userData.card.length > 0" class="card-container">
          <h2>Dados do Cartão</h2>
          <!-- Criar uma coluna com apenas os últimos  4 digitos do cartao para exibi-lo com mascara-->
          <div class="card-details">
            <p>Número: {{ userData.card[0].num || 'N/A' }}</p>
            <p>Nome no Cartão: {{ userData.card[0].nome || 'N/A' }}</p>
            <p>Validade: {{ userData.card[0].val || 'N/A' }}</p>
          </div>
          <button [routerLink]="['/cartao']" class="btn-acessar-cartao">✏️ Alterar cartão</button>
        </div>
        <div *ngIf="!userData.card || userData.card.length == 0">
          <p>Dados do cartão não disponíveis.</p>
        </div>
      </div>
    </div>
  </main>
    
    
    