<div class="main">
  <div class="container">
    <div class="banner">
      <h1>BagView</h1>
      <p>HISTÓRICO DE COMPRAS</p>
    </div>

    <table class="table">
      <thead>
        <tr>
          <th>Número do Voo</th>
          <th>Data do Voo</th>
          <th>Quantidade de tags</th>
          <th>Condição</th>
          <th>Ação</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let registro of historicoCompras">
          <!-- Exibindo a data de retirada, formatada se houver, ou N/A -->
          <td>{{ registro.numVoo }}</td>
          
          <!-- Exibindo a data de devolução, formatada se houver, ou N/A -->
          <td>{{ registro.data }}</td>
          
          <td>{{ registro.qtdTags }}</td>

          <!-- Exibindo a condição, ou N/A se não houver valor -->
          <td>{{ getCondicaoDescricao(registro.condicaoId) }}</td>

          <td>
            <!-- Botão 'Ativar tags' -->
            <button *ngIf="registro.condicaoId === '673d46d835c68f866f8cdbeb'" (click)="onAlterarCondicao(registro, 'confirmacao')">Ativar tags</button>
            
            <!-- Botão 'Encerrar Aluguel' -->
            <button *ngIf="registro.condicaoId === '673d46d835c68f866f8cdbec'" (click)="onAlterarCondicao(registro, 'encerramento')">Encerrar Aluguel</button>
            
            <!-- Nenhum botão se a condição for '673d46d835c68f866f8cdbed' -->
            <p *ngIf="registro.condicaoId === '673d46d835c68f866f8cdbed'" class="sem-acao-texto"></p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Modal de Confirmação -->
<div *ngIf="showModal && modalType === 'confirmacao'" class="modal">
  <div class="modal-content">
    <h2>Você confirma que já retirou suas tags no aeroporto de partida?</h2>
    <div class="modal-actions">
      <button (click)="onAtivar()">Confirmar</button>
      <button (click)="onCancelar()">Cancelar</button>
    </div>
  </div>
</div>

<!-- Modal de Encerramento -->
<div *ngIf="showModal && modalType === 'encerramento'" class="modal">
  <div class="modal-content">
    <h2>Você tem certeza de que deseja finalizar o aluguel?</h2>
    <p>Ao confirmar, você declara que chegou ao seu destino final. <br><br> Esta ação é irreversível e, após a finalização, o valor do caução será devolvido automaticamente.</p>
    <div class="modal-actions">
      <button (click)="onFinalizar()">Confirmar</button>
      <button (click)="onCancelar()">Cancelar</button>
    </div>
  </div>
</div>