<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Solução de Extravio | BagView</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link href="homepage.component.css" rel="stylesheet" />
  </head>
  <body>
    <header class="header">
      <nav class="navbar">
        <h2 class="logo">
          <img
            src="assets/img/BagView.png"
            alt="logo"
            routerLink="/homepage"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
          />
        </h2>
        <input type="checkbox" id="menu-toggle" />
        <label for="menu-toggle" id="hamburger-btn">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            height="24"
            viewBox="0 0 24 24"
            width="24"
          >
            <path
              d="M3 12h18M3 6h18M3 18h18"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
            />
          </svg>
        </label>
        <ul class="links">
          <li>
            <a
              routerLink="/homepage"
              routerLinkActive="active"
              ariaCurrentWhenActive="page"
              >Home</a
            >
          </li>
          <li><a routerLink="/errorpage">Sobre Nós</a></li>
          <li><a routerLink="/errorpage">Serviços</a></li>
          <li><a routerLink="/errorpage">Contato</a></li>
        </ul>
        <div class="buttons">
          <a
            routerLink="/login"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            class="btn-login"
            >Login</a
          >

          <a
            routerLink="/cadastro"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            class="btn-cadastro"
            >Cadastre-se</a
          >
        </div>
      </nav>
    </header>
    <section class="hero-section">
      <div class="hero">
        <p>
          Conectando você com a segurança de sua bagagem, em qualquer lugar do
          mundo. Viaje com mais segurança e mais tranquilidade.
        </p>

        <div class="buttons">
          <a routerLink="/errorpage" class="learn">Saiba Mais</a>
        </div>
      </div>
    </section>
    <section class="details-section">
      <div class="details">
        <div class="detail-item">
          <h2><mat-icon>help</mat-icon> Como funciona?</h2>
          <p>
            A BagView é uma solução inovadora que conecta você com a segurança
            de sua bagagem, em qualquer lugar do mundo.
          </p>
        </div>
        <div class="detail-item">
          <h2><mat-icon>check_circle</mat-icon> Por que usar a BagView?</h2>
          <p>
            Porque a BagView é a solução mais segura e eficiente para a
            segurança de sua viagem.
          </p>
        </div>
        <div class="detail-item">
          <h2><mat-icon>support_agent</mat-icon> Suporte ao Cliente</h2>
          <p>
            Conte com a nossa equipe treinada para resolver qualquer problema
            que surja durante sua viagem, com suporte disponível 24 horas por
            dia, 7 dias por semana.
          </p>
        </div>
      </div>
    </section>
    <hr class="page-divider" style="height: 1px; width: 85%" />
    <section class="questions-section">
      <div class="questions">
        <h2 class="questions-title">Perguntas Frequentes</h2>
        <div class="questions-accordion">
          <mat-expansion-panel [(expanded)]="panel1Open">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Como a BagView protege minha bagagem?
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>
              A BagView protege sua bagagem de várias maneiras, incluindo a
              identificação e rastreamento em tempo real, notificações de
              movimentação e alertas de proximidade.
            </p>
          </mat-expansion-panel>
        </div>

        <div class="questions-accordion">
          <mat-expansion-panel [(expanded)]="panel2Open">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Quais são as vantagens de usar a BagView?
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>
              Além da segurança de sua bagagem, a BagView oferece uma série de
              vantagens, como assistência em caso de emergência, suporte 24/7 e
              a conveniência de gerenciar sua bagagem de qualquer lugar.
            </p>
          </mat-expansion-panel>
        </div>

        <div class="questions-accordion">
          <mat-expansion-panel [(expanded)]="panel3Open">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Como a BagView me ajuda a viajar com mais tranquilidade?
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>
              A BagView oferece a tranquilidade de saber que sua bagagem está
              segura e protegida, permitindo que você se concentre em desfrutar
              de sua viagem.
            </p>
          </mat-expansion-panel>
        </div>
      </div>
    </section>
    <hr class="page-divider" style="height: 1px; width: 85%" />
    <footer class="footer">
      <div class="footer-content">
        <img src="assets/img/BagView.png" alt="logo" />
        <p class="footer-description">
          Rua do Projeto, 123 - Edifício do Futuro, 5º andar Centro - São
          Paulo,<br />
          SP - 01234-567 - CNPJ: 12.345.678/0001-90 <br />© 2024 BagView
        </p>
      </div>
    </footer>
  </body>

  <script>
    window.addEventListener("scroll", () => {
      const header = document.querySelector(".header");
      if (window.scrollY > 0) {
        header.classList.add("scrolled");
      } else {
        header.classList.remove("scrolled");
      }
    });
  </script>
</html>
