<div class="adicionarvoo-container">
    <mat-card>
      <mat-card-title>Adicionar Voo</mat-card-title>
      <mat-card-content>
        <form (ngSubmit)="onSubmit()">
          <p> Digite o código/número do seu voo </p>

          <mat-form-field appearance="fill">
            <input
              matInput
              placeholder="Código do voo"
              required
              name="codigoVoo"
              [(ngModel)]="codigoVoo"
            />
          <!-- <mat-hint>Máximo de 10 tags por voo</mat-hint> -->
          </mat-form-field>


          <button mat-raised-button color="primary" type="submit">Adicionar Voo</button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
  